/**
 * Chuck Punch
 */
 .chuck-punch {
   height: 100%;
   display: flex;
   flex-flow: column wrap;

    .punch {
      position: absolute;
      background: url('../img/punch.svg') center center no-repeat;
      background-size: contain;
      height: 100%;
      width: 100%;
    }

    .chuck-punch__body {
      flex: 1;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      padding: 3em;
    }

    .chuck-punch__quote-box {
      position: relative;
      padding-left: 4.5em;
    }

    .chuck-punch__quote {
      max-width: 800px;
      font-size: 3.5em;
      font-weight: bold;
      color: white;
      margin-bottom: 1em;
    }

    .quote-mark {
      position: absolute;
      top: -.5em;
      left: 0;
      background: url('../img/quotation.svg') center no-repeat;
      height: 1.15em;
      width: 1.15em;
    }

    .chuck-punch__btn {
      position: relative;
      display: inline-block;
      font-size: 2em;
      border: 2px solid #fff;
      padding: .5em 2.25em .5em 1em;
      color: #fff;
    }

    .chuck-punch__chuck-face {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: url('../img/chuck-norris-sticker.png') 92% no-repeat;
      background-size: contain;
      height: 75%;
      width: 100%;
    }
 }
